Repository rightoneducation/righton-app, pull requests merged in 2021-09, with the labels that each got.

#109 Remove unnecessary AWS config and Amplify references
  web/src/App.tsx
Labels: bug

#110 Fix aws config issue on mobile
  mobile/App.js
  mobile/ios/Podfile.lock
Labels: bug, enhancement, mobile-app

#121 Bug: Fix android bug on initialize screen
  mobile/ios/Podfile.lock
  mobile/package.json
Labels: bug, mobile-app
